
<div class="container-fluid h-100">
    <div class="row h-100">
        {{!-- begin sidebar --}}
        <div id="site_sidebar" class="col-2">
            <div id="sidebar_title_row" class="row">
                <span id="sidebar_title"> Sidebar Title </span>
            </div>
            {{!-- begin sidebar links --}}
            <div class="row sidebar_link_row">
                <a class="sidebar_link_btn active" href="/example_page/" > Example Page </a>
            </div>
            <div class="row sidebar_link_row">
                <span class="sidebar_link_btn" > Example Btn </span>
            </div>
            <div class="row sidebar_link_row">
                <span class="sidebar_link_btn" > Example Btn </span>
            </div>
            <div class="row sidebar_link_row">
                <span class="sidebar_link_btn" > Example Btn </span>
            </div>
            {{!-- end sidebar links --}}
        </div>
        {{!-- end sidebar --}}

        {{!-- begin page content --}}
        <div id="site_content" class="col-10 no-float">
            <span>Here is some content for the example page. We will fill this in later.</span>
        </div>
        {{!-- end page content --}}
    </div>
</div>